[package]
name = "croaring"
version = "0.4.4"
authors = ["Saulius Grigaliunas <saulius@ninja.lt>"]
license = "Apache-2.0"
description = "Rust wrapper for CRoaring"
repository = "https://github.com/saulius/croaring-rs.git"
readme = "README.md"
keywords = ["RoaringBitmap", "croaring", "bitmap"]
documentation = "https://docs.rs/croaring"

[dev-dependencies]
proptest = "0.9"
roaring = "0.5.2"

[dependencies]
libc = "0.2.42"
croaring-sys = { path = "../croaring-sys", version = "0.4.4" }
byteorder = "1"
